body {
  position: absolute;
  height: 100vh;
  width: 100vw
}

.mainWrapper {
  width: 900px;
  height: 620px;
  border:2px solid black;
  position: relative;
  margin:auto;
}

.titleBlock {
  border:2px solid black;
  margin:10px;
  text-align: center;
}

.processBlock {
  border:2px solid black;
  width: 29%;
  height: 400px;
  float: left;
  margin: 10px;
}

.processTitleBLock {
  border:2px solid black;
  text-align: center;
}

.inputBlock {
  border:2px solid black;
  width: 29%;
  height: 400px;
  float: left;
  margin: 10px;
}

.taskNameTitle {
  border:2px solid black;
  text-align: center;
}

.taskDateTitle {
  border:2px solid black;
  text-align: center;
}

.btnStyle {
  border:2px solid black;
  text-align: center;
}

.completedBlock {
  border:2px solid black;
  width: 29%;
  height: 400px;
  float: left;
  margin: 10px;
}

.completedTitleBlock {
  border:2px solid black;
  text-align: center;
}

.completedTaskBlock {
  border:2px solid black;
  text-align: center;
}

.incompletedBlock {
  width: 33%;
  list-style: none;
  float: left;
  border:2px solid black;
  padding: 0;
  margin: 20px;
}
